@import url(colors.css);

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

html,
body,
div.container {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--light);
  overflow-x: hidden;
}

div.container {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  color: var(--dark);
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
  width: 100vw;
  height: 30vh;
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
}

div.preheader {
  width: 100vw;
  height: 20vh;
  border-bottom: 2px solid var(--gray);

  /* colomn centered flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* temporary */
div.preheader h2.logo {
  font-size: 3vw;
  text-transform: uppercase;
  margin: 1vh 2vw;
  font-weight: 600;
}

div.preheader h6 {
  font-size: 1vw;
  color: var(--gray);
  margin: 0.5vh 1vw;
  text-transform: uppercase;
}

div.header {
  width: 100vw;
  height: 10vh;

  /* row centered flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

div.header ul {
  width: fit-content;
  list-style: none;

  /* row centered flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

div.header li {
  width: fit-content;
  min-width: 7vh;
  margin: 1vh 1.5vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 300;
  font-size: 1.3vw;
  transition: 0.4s all;
  border-bottom: 2px solid #00000000;
}

div.header li:hover {
  border-bottom: 2px solid var(--light);
  transition: 0.1s all;
}

/* SPLASH */
div.splash {
  width: 99vw;
  height: 75vh;
  background-image: url(../img/splash_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2vh 0;
  padding: 0 5vw;

  /* left bottom flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

div.splash div.pdct {
  width: 15vw;
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
}

div.splash div.id1 {
  background-image: url(../img/products/01.png);
  transform: translateY(5vh);
}

div.splash div.id2 {
  background-image: url(../img/products/02.png);
  transform: rotate(10deg) translateY(5vh);
}

div.splash div.caption {
  font-size: 3vw;
  background-color: var(--light);
  padding: 2vh 2vw;
  transform: skewY(-5deg) translateY(-15vh);
  font-weight: 500;
  transition: 0.8s all;
  margin-left: 5vw;
  border-radius: 1vw;
}

div.splash div.caption:hover {
  transform: skewY(0) translateY(-5vh);
  transition: 0.3s all;
  border-radius: 0;
  background-color: var(--gray);
  color: var(--light);
  border-bottom-left-radius: 5vw;
}

div.caption a {
  margin-left: 5vw;
  font-weight: 900;
  border-bottom: 10px solid var(--dark);
  transition: 0.4s all;
  padding: 0.5vh 0;
}

div.caption a:hover {
  border-bottom: 10px double var(--light);
  transition: 0.1s all;
}

/* CONTENT */

section {
  width: 90vw;
  margin: 5vh 5vw;
}

div.heading {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  transition: 0.8s all;
  padding: 2vh 7vw;
  border-radius: 5vw;
}

div.heading:hover {
  background-color: var(--dark);
  color: var(--light);
  transition: 0.4s all;
  border-radius: 0;
}

div.heading h1 {
  min-width: fit-content;
  font-family: "Marck Script", "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6vw;
}

div.heading div.line {
  margin-left: 2vw;
  width: 60vw;
  height: 1vh;
  background-color: var(--gray);
  border-radius: 0.5vh;
}

section p {
  font-size: 45px;
  font-weight: 500;
  padding: 1vh 5vw;
}

section p span {
  font-size: 60px;
  font-weight: 900;
  color: var(--black);
}

section p.lspace {
  transform: translateY(-10vh);
  transition: 0.8s all;
}

section p.lspace:hover {
  transform: translateY(0) rotate(10deg);
  padding-left: 20vw;
  border-bottom: 15px solid var(--dark);
  border-bottom-right-radius: 10vw;
  transition: 0.6s all;
  background-color: var(--dark);
  color: var(--light);
  border-top-left-radius: 60%;
}

section p.lspace span {
  margin-left: 30%;
}
